@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fff;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromDown {
  0% {
    opacity:0%;
    transform: translateY(100%);
  }
  100% {
    opacity:100%;
    transform: translateY(0);
  }
}

header {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;

}

.landing{
  animation: slideInFromDown;
  animation-delay: 0s;
  animation-duration: 2s;
}
.head {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.2s ease-out 0s 1 slideInFromLeft;

}
.container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.background-image {
  background-image: url('/public/engine.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 100vh;
  padding: 28px 0;
}

.scroll-mt-28 {
  margin-top: 28px;
}